@talwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: yase;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a{
  color: black;
}
.border-bottom {
  border-bottom: 1px solid rgb(223, 223, 223);
}